<div class="color3">
<mat-toolbar color="primary">
  My Weather App
</mat-toolbar>

<div class="pagecontent center margin ">
  <mat-card mat-elevation-z5 class="center form-container color">
    <h1 class="center bottom color font"><b>Select State & city</b></h1>
<div class="content">
  <div class="flex-row">
    <div class="center">
    <mat-form-field>
      <mat-label>Select State</mat-label>
      <mat-select [formControl]="countryControl">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="center margin">
    <mat-form-field>
      <mat-label>Select city</mat-label>
      <mat-select [formControl]="cityControl">
        <mat-option *ngFor="let city of cities$ | async" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
</mat-card>
</div>
</div>