/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pagecontent{
    padding: 40px;
}

.form-container {
    display: block;
    max-width: 400px;
    margin: auto;

    background: #f0f0f0;
    padding: 50px;
    border-radius: 20px;
}

.form-container mat-form-field {
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.margin-top{
    margin-top: 16px;
}

.text-center {
    text-align: center;
}