
<div class="color" > 
    <app-navbar> </app-navbar>
    <div class="pagecontent">
    
    <div class="form-container mat-elevation-z5" style="margin-top: 65px;">
        <h1 class="center">Login</h1>
        
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()" class="margin-top">
            <mat-form-field class="margin-top">
                <input matInput placeholder="Email address" formControlName="email" />
                <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
                <mat-error *ngIf="email?.errors?.['email']">Please enter a correct email format</mat-error>
            </mat-form-field>
        
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password" />
                <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
                <mat-error *ngIf="password?.errors?.['pattern']">Password length must be greater than 8 with letters and numbers and characters</mat-error>
            </mat-form-field>
            <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">
                Login
            </button>
            </div>
            <span class="center margin-top">New to our platform <a routerLink="signup" class="sign-up-link">Sign Up!</a></span>
        </form>
        </div>
    </div>
</div>